
.hero-image {
	background-image: url("hero.png"); 
	height: 400px;
	width: 100%;
	background-position: center;
	background-size: cover;
	border-bottom: solid 2px;
	position: relative;
}

@font-family {
	font-family: graphikblack;
	src: url("Graphik-Black.otf");
}

@font-family {
	font-family: graphikregular;
	src: url("Graphik-Regular.otf");
}
/*
img {
	width: 10%;
	float: left;
	padding: 20px;
}*/

.cart h1 {
	font-family: graphikblack;
	font-size: 13px;
	color: black;
	padding-right: 10px;
	float: right;
}
div.cart {
	width: 15%;
  float: right;
	position: absolute;
	top: 0;
	right: 0;
}
div.title {
	width: 45%
}
.title img {
	width: 45%;
	float: right;
}
.nav-col2 img {
	height: 20px;
}

/*button*/
.button {
	width: 100%;
	float: right;
	padding-right: 5%;
	padding-bottom: 3%;
	right: 0;
	bottom: 0;
	position: absolute;
}

.button .btn-video {
	background-color: white;
	color: black;
	font-size: 13px;
	border-radius: 2px;
	border: none;
	padding: 10px;
	float: right;
}

.button .btn-video:hover {
	background-color:  #dd7d48;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
div.logo {
	width: 20%;
}
.logo img {
	width: 50%;
	padding: 10px;
}
