/*stylesheet*/

/*HEADER*/
header {
	background-image: url("hero.png"); 
	border-bottom: solid thin;
}

@font-family {
	font-family: Graphikbold;
	src: url("Graphik-Bold.otf");
}

img.logo {
	height: 6px;
	position: absolute;
	z-index: 0;
	padding-left: 15px;
	padding-top: 2px;
}

img.button {
	width: 70px;
	padding-left: 250px;
	padding-top: 125px;
	position: absolute;
	z-index: 0;
}

img.ellipse {
	width: 10px;
	padding-left: 302px;
	padding-top: 129.5px;
	position: absolute;
	z-index: 1;
}

img.title {
	width: 95px;
	padding-top: 40px;
	padding-left: 50px;
}

h1.cart {
	font-family: Graphikbold;
	font-size: 3pt;
	padding-left: 310px;
	position: absolute;
	z-index: 0;
}

 




