@font-face {
    font-family: circularstdbold;
    src: url('/assets/fonts/CircularStd-Bold.ttf');
}
@font-face {
	font-family: compacta;
	src: url('/assets/fonts/CompactaBT-Roman.ttf');
}
.dP {
    position: relative;
   	display: inline-block;
}
.dP-content a {
	//display: block;
}
.show {
    display: block;
}
.dP-content {
	display: none;
    position: absolute;
    background: #fff;
    top: -15px;
    left: -15px;
    width: 100vw;
    height: 420px;
    z-index: 10;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .top-menu {
    	display: flex;
    	.logo-menu {
	    	width: auto;
		    height: 20px;
		    margin: 0px 10px;
	    }
    	.menu-search {
	    	font-size: 14px;
		    margin-top: 4px;
		    color: black;
		}
    }
a.menu-link {
	flex-basis: 46%;
	text-align: right;
	color: #2A2A2A;
	font-family: graphikblack;
}
a.menu-link:hover {
	text-decoration: none;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.84);
	transition: ease;
}
i.menu-arrow {
    font-size: 10px;
    margin-left: 10px;
}
    .menu-sections {
    	display: flex;
    	flex-direction: row;
    	justify-content: flex-start;
    	margin-top: 30px;
    	.menu-links {
    		flex-basis: 17.5%;
    		.linkList {
    			list-style-type: none;
    		}
	    	.header-link {
	    		font-family: graphikblack;
	    		color: #2A2A2A;
	    	}
	    	.subheader-link {
	    		font-family: graphiksemibold;
	    		font-size: 13px;
	    		color: #b9b9b9;
	    	}
	    	li {
	    		margin: 15px 0px;
	    	}
	    	li.li-margin1 {
	    		margin-top: 50px;
	    	}
	    	li.li-margin2 {
	    		margin-top: 90px;
	    	}
	    	.special {
	    		color: red;
	    	}
	    	a.link:hover {
	    		text-decoration: none;
	    	}
	    	li:hover {
	    		background-color: #E6E6E6;
	    		transition: .1s ease;
	    	}
	    }
	.your-menu {
		flex-basis: 30%;
		position: relative;
		.your-hero {
			width: auto;
			height: 420px;
			margin-top: -54px;
			border-right: solid #f44336 50px;
		}
		.your-overlay {
			background-color: black;
		    opacity: .8;
		    height: 420px;
		    width: 487px;
		    position: absolute;
		    bottom: 4px;
		}
		img.your-picture {
			height: 150px;
		    width: 150px;
		    position: absolute;
		    top: 0px;
		    left: 150px;
		    border-radius: 100px;
		}
		.your-name {
			color: #fff;
		    font-family: graphiksemibold;
		    font-size: 40px;
		    position: absolute;
		    bottom: 150px;
		    left: 135px;
		}
		.ship-address {
			position: absolute;
		    color: #fff;
		    font-family: nittiblack;
		    text-transform: uppercase;
		    bottom: 115px;
		    left: 155px;
		}
		.your-address {
			position: absolute;
		    color: #fff;
		    font-family: graphikmedium;
		    bottom: 90px;
		    left: 165px;
		}
		.your-address2 {
			position: absolute;
		    color: #fff;
		    font-family: graphikmedium;
		    bottom: 65px;
		    left: 175px;
		}
		button.edit-yours {
		    position: absolute;
		    background: none;
		    border: solid white 1px;
		    border-radius: 2px;
		    color: #fff;
		    padding: 5px 10px;
		    font-family: graphikregular;
		    font-size: 12px;
		    bottom: 20px;
    		left: 30px;
		}
		.not-you {
		    position: absolute;
		    color: #fff;
		    font-family: graphikregular;
		    font-size: 12px;
		    bottom: 26px;
    		left: 180px;	
		}
		button.sign-in {
		    position: absolute;
		    background: none;
		    border: none;
		    font-family: graphikmedium;
		    font-size: 15px;
		    color: #fff;   
		    bottom: 22px;
		    right: 240px;
		}
		span.glyphicon.your-cart {
		    color: #fff;
		    position: absolute;
		    top: 325px;
		    left: 350px;
		    font-size: 20px;
		}
		button.no-style {
			border: none;
			background: none;
		}
	}    
    }
}

button.dP-btn.material-icons {
	background: none;
	border: none;
	color: black;
	font-size: 24px;
}
.top-navigation {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: left;
    margin: 15px auto auto 15px;
    height: 30px;
    .top-nav-square {
	    flex-basis: 3%;
	    background: none;
    	border: none;
	}
	.top-nav-logo {
	    flex-basis: 10%;
	}
	.top-nav-search {
	    flex-basis: 83%;
	}
	.top-nav-cart {
		flex-basis: 3%;
		align-self: flex-end;
	}
	img.logo-resizer {
		width: 120px;
	}
	.material-icons.top-dropdown {
		color: black;
	}
	span.glyphicon.glyphicon-search {
	    font-size: 18px;
	    margin-top: 4px;
	    color: black;
	}
	.glyphicon.top-cart {
		margin-right: 10px;
		color: black;
	}
}
.hero-area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    overflow-y: hidden;
    text-align: center;
    margin-top: 20px;
    .hero-img1-area {
    	flex-basis: 25%;
    	.hero-img1 {
    		border-radius: 3px;
    	}
    }
    .hero-img2-area {
    	flex-basis: 25%;
    	.hero-img2 {
    		border-radius: 3px;
    	}
    }
    .title-container {
    	flex-basis: 25%;
    }
    .hero-img3-area {
    	flex-basis: 25%;
    	.hero-img3 {
    		border-radius: 3px;
    	}
    }
    .hero-title {
    	font-family: circularstdbold;
    	font-size: 35px;
	   	line-height: 30px;
	    color: black;
	   	margin-top: 50px;
   	}
   	.hero-subtitle {
    	font-family: graphikmedium;
    	font-size: 12px;
    	margin: 35px 45px 0px 45px;
    	line-height: 22px;
   	}
   	button.hero-button {
    	border: solid black .0397cm;
    	border-radius: 3px;
    	padding: 10px 25px;
    	font-family: graphikregular;
    	margin-top: 30px;
    	i.material-icons.hero-button-arrow {
    		font-size: 12px;
    		margin-left: 10px;
		}
	}
	button.hero-button:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: ease;
	}
}
.filter-header-area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    margin: 80px 50px 20px 50px;
    align-items: flex-end;
    .filter-title {
	    font-family: graphikmedium;
	    font-size: 25px;
	    color: #2A2A2A;
	}
	.filter-style {
		font-family: graphikmedium;
		font-size: 15px;
		color: #2A2A2A;
	}
	.filter-color {
		font-family: graphikmedium;
		font-size: 15px;
		color: #2A2A2A
	}
	.format-toggle-product, .format-toggle-look {
	    font-family: graphikmedium;
	    font-size: 12px;
	    color: #2A2A2A;
	    border: none;
	}
	.format-toggle:hover, .format-toggle-look:hover{
		transform: scale(1.1);
		transition: ease;
	}
	.filter-hat {
		margin: 0px 10px 0px 10px;
	}
	.hat-opacity {
		opacity: .2 !important;
	}
	.no-hat-opacity {
		opacity: 1 !important;
	}
	button.color-swatch {
	    border-radius: 25px;
	    padding: 9px;
	    margin: 0px 6px 0px 6px;
	    border: none;
	}
	button.color-swatch:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition: ease;
	}
	.swatch1 {
		background-color: #F0CCA5;
	}
	.swatch2 {
		background-color: #BCD7E0;
	}
	.swatch3 {
		background-color: #CD0000;
	}
	.swatch4 {
		background-color: #BFDBD4;
	}
	.swatch5 {
		background-color: #000000;
	}
	.swatch6 {
		background-color: #fff;
		border: solid 2px lightgray !important;
	}
	li.toggle-button {
	    display: inline;
	}
	ul.product {
	    display: inline;
	    padding: 2px 8px;
	    border-radius: 2px;
	    background-color: black;
	    margin: 0px 0px 0px 5px;
	}
	ul.look {
	    display: inline;
	    padding: 2px 8px;
	    background-color: lightgray;
	    margin: 0px 5px 0px 0px;
	    border-radius: 2px;
	}
	.clicked {
		background-color: lightgray !important;
	}
	.unclicked {
		background-color: black !important;
	}	
}
.small-screen-filter-title {
	display: none !important;
}
.filter-area {
	height: 570px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%);
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .filter-area-vertical-scroller {
    	flex-basis: 47.5%;
    	margin-left: 40px;
    	margin-top: 40px;
    	overflow-x: hidden;
  		overflow-y: scroll;
  		height: 570px;
  		.vertical-scroll {
  			overflow-x: hidden;
  			overflow-y: hidden;
  			height: 2900px;
  		    width: 100%;
  		}
  		.vertical-scroll2 {
  			overflow-x: hidden;
		    overflow-y: hidden;
		    height: 1300px;
		    width: 100%;
  		}
  		.card {
		    display: inline-block;
		    background-color: white;
		    height: 270px;
		    margin: 0px 10px 20px 10px;
		    border-bottom: solid black 3px;
   			border-radius: 2px;
   			width: 300px;
		    .card-image {
			    text-align: center;
			}
			.card-image2 {
			    text-align: center;
    			position: relative;
			}
			.card-image-source {
				background: none;
			}
			.image-source {
				background: none;
				height: 270px;
				width: 300px;
			}
			.card-image:hover {
				background: linear-gradient(to top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 100%);
				filter: blur(1px);
				transition: .2s ease;
			}
			.card-image2:hover {
				filter: blur(1px);
				transition: .2s ease;
			}
			.card-description {
			    color: #b9b9b9;
			    font-family: nittiblack;
			    text-transform: uppercase;
			    font-size: 12px;
			    margin: 20px 0px 0px 30px;
			}
			.card-name {
			    margin: 0px 0px 0px 30px;
			    font-family: graphikmedium;
			    font-size: 16px;
			    display: inline;
			}
			.card-price {
			    display: inline;
			    margin-left: 10px;
			    color: lightgray;
			    font-family: graphikregular;
			    font-size: 13px;
			}
  		}
  		.big-card {
  			.big-image-source {
				width: 625px;
			    height: auto;
			    margin-left: 10px;
			    margin-bottom: 20px;
			}
			.big-card-image {
				position: relative;
				text-align: center;
			}
  		}
  		.big-card:hover {
  			filter: blur(1px);
  			transition: ease;
  		}
  		.card-words {
			position: absolute;
		    z-index: 1;
		    bottom: 15px;
		    left: 30px;
		    color: #fff;
		    font-family: graphiksemibold;
		    font-size: 15px;
		}
		.big-words {
			position: absolute;
		    z-index: 1;
		    bottom: 30px;
		    left: 30px;
		    color: #fff;
		    font-family: graphiksemibold;
		    font-size: 15px;
		}
    }
    .filter-preview {
    	flex-basis: 48%;
    	background-color: white;
    	margin-top: 40px;
    	height: 570px;
    	border-top: solid black 4px;
    	border-radius: 4px;
    	padding-left: 100px;
    	.preview-information {
		    display: flex;
		    flex-direction: row;
		    justify-content: flex-end;
		    margin-right: 20px;
		    .preview-box {
		    	display: flex;
    			justify-content: center;
    			padding-top: 8px;
		    	height: 60px;
		    	width: 70px;
		    	background-color: lightgrey;
		    	border-bottom: solid black 2px;
		    	border-radius: 2px;
		    	margin: 0px 5px;
		    	img.info {
				    height: 40px;
				    width: auto;
				}
				img.boxed-img {
					height: 45px;
				}
				img.boxed-lifestyle {
				    height: 60px;
				    width: 70px;
				    margin-top: -8px;
				}
		    }
		}
		.preview-body {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		    height: 375px;
		    overflow: hidden;
			.hat-details {
				//flex-basis: 50%;
			}
		}
		img#main-preview {
		    display: none;
		}
		.details-title {
		    font-family: graphiksemibold;
		    font-size: 40px;
		    color: #2A2A2A;
		    margin-left: 100px;
    		margin-bottom: 20px;
		}
		.details-fit {
		    color: #2A2A2A;
		    font-family: graphiksemibold;
		    font-size: 20px;
		}
		.fit-para {
			color: #b9b9b9;
			font-size: 12px;
			font-family: circularstdbold;
			margin-right: 12vw;
		}
		.details-materials {
			color: #2A2A2A;
			font-family: graphiksemibold;
			font-size: 20px;
			margin-top: 2vw;
		}
		.materials-para {
		    color: #b9b9b9;
		    font-size: 12px;
		    font-family: circularstdbold;
		    margin-right: 12vw;
		}
    }
    .card {
    	flex-basis: 25%;
    }
    button.right-arrow {
    	display: none;
	    height: 20px;
	    background: none;
	    border: none;
	    margin-top: 220px;
	    margin-right: 40px;
	}
	i.material-icons.preview-arrow {
		font-size: 20px;
	}
	button.right-arrow:hover {
		transform: scale(1.1);
		transition: ease;
	}
    .preview-footer {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-evenly;
     	background-color: lightgrey;
    	width: -webkit-fill-available;
   	 	margin-left: -100px;
    	height: 80px; 
    	margin-top: 42px;
    	button.preview-color {
		    padding: 15px;
		    border-radius: 30px;
		    align-self: center;
		    border: none;
		    margin: 0px 10px;
		}
		button.preview-color:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: ease;
		}
		.color-holder {
			align-self: center;
			.black {
				background-color: black;
			}   
			.green {
				background-color: #598527;
			}
		}	
		.preview-quantity {
			font-family: graphiksemibold;
			font-size: 15px;
			align-self: center;
		}
		.quantity-holder {
			align-self: center;
			flex-basis: 20%;
			button.preview-remove {
			    align-self: center;
			    display: inline;
			    border: none;
			    margin: 0px 5px;
			    background: none;
			}
			i.material-icons.preview-remove {
				font-size: 12px;
				align-self: center;
			}
			button.preview-remove:hover {
				transform: scale(1.5);
				transition: ease;
			}
			input.quantity {
			    width: 15%;
			    border: none;
			    background: none;
			    text-align: center;
			    font-size: 15px;
			}
		}
		button.done {
		    width: 180px;
		    height: 60px;
		    align-self: center;
		    border-radius: 3px;
		    font-family: graphiksemibold;
		    background-color: #00a651;
		    color: #fff;
		    border: none;
		}
		button.done:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: ease;
		}
    }
}
.opacity {
	opacity: .2;
	border-bottom: none !important;
}
.blog-title {
    margin: 100px 0px 20px 20px;
    font-family: graphikmedium;
    font-size: 25px;
    color: #2A2A2A;
}
.scrollable2-headwear {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 120vw;
    height: 300px;
}
.scrollarea-headwear {
    width: 100vw;
    margin-left: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    .blog-post {
    	width: 40vw !important;
    	.blogpost-img {
		    width: 520px;
		    z-index: 0;
		    position: absolute;
		    border-radius: 3px;
		}
		.blogpost-background {
		    position: relative;
		    z-index: 1;
		    height: 305px;
		    width: 520px;
		    background: linear-gradient(to bottom, transparent 0%, black 170%);
		}
		.onRoad {	
		    position: absolute;
		    top: 150px;
		    left: 30px;
		    color: white;
		    text-decoration: underline;
		    text-transform: uppercase;
		    font-family: compacta;
		    font-size: 14px;
		    z-index: 1;
		}
		.blog-author {
		    position: absolute;
		    top: 150px;
		    color: white;
		    left: 100px;
		    text-transform: uppercase;
		    font-size: 12px;
		    z-index: 1;
		    font-family: nittiblack;
		}
		.blog-date {
		    position: absolute;
		    z-index: 1;
		    color: white;
		    top: 150px;
		    left: 200px;
		    font-family: nittiblack;
		    font-size: 12px;
		}
		.blog-description {
		    position: absolute;
		    font-family: graphikregular;
		    color: white;
		    z-index: 1;
		    top: 240px;
		    left: 30px;
		    line-height: 15px;
		    font-size: 10px;
		}
		.blog-subtitle {
		    z-index: 2;
		    position: absolute;
		    left: 30px;
		    top: 175px;
		    font-size: 30px;
		    line-height: 30px;
		    font-family: graphikmedium;
		    color: white;
		}
    }
}
.social-headwear {
    position: relative;
    font-family: graphikmedium;
    font-size: 30px;
    color: #202020;
    margin-top: 40px;
    margin-left: 20px;
}
.swiper-headwear {
    top: 0px;
}
.swiper-button-next {
    top: 1850px;
    right: 10px;
    position: absolute;
}
.swiper-button-prev {
	top: 1850px;
	left: 10px;
	position: absolute;
}
.email-section {
	.e-header{
		text-align: center;
    	font-family: graphiksemibold;
    	font-size: 30px;
    	color: #202020;
    	margin-top: 50px;
	}
	.e-subheader {
	    text-align: center;
	    color: #ADADAD;
	    font-size: 12px;
	    margin-top: 20px;
	    font-family: graphikmedium;
	}
	.e-subscribe {
	    text-align: center;
	    margin-top: 20px;
	    .e-text {
	        border-radius: 5px;
		    border: solid #aaaaaa 2px;
		    font-family: graphikmedium;
		    font-size: 12px;
		    color: #ADADAD;
		    padding: 20px 120px 20px 20px;
	    }
	    .e-button {
	    	border-radius: 3px;
	    	border: none;
	    	background-color: #232323;
	    	font-family: graphiksemibold;
	        padding: 20px 40px;
	    	margin-left: 5px;
	    	color: #fff;
	    	.e-arrow {
	    		font-size: 12px;
    			padding-left: 10px;;
	    	}
	    }
	    .e-button:hover {
	    	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			transition: ease;
	    }
	}	
}
.footer-headwear {
    width: 100vw;
    height: 200px;
    background-color: #1A1A1A;
}
.headwear-footer {
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
	width: 100vw;
	height: 200px;
	background-color: #1A1A1A;
	padding-top: 65px;
	max-width: 1366px;
	.phone-number-footer {
	    color: white;
	    font-family: graphikregular;
	    font-size: 13px;
	}
	img.headwear-footer-logo {
	    width: auto;
	    height: 50px;
	}
	img.social-in-footer {
	    width: auto;
	    height: 15px;
	    margin: 0px 11px 0px 11px;
	}
	.address-footer {
	    font-size: 20px;
	}
	.days-footer {
	    color: white;
	    font-family: nittiblack;
	    text-transform: uppercase;
	    font-size: 10px;
	    margin-top: 28px;
	}
	.hours-footer {
		color: white;
		font-family: nittiblack;
		font-size: 10px;
		text-transform: uppercase;
		margin-top: 28px;
	}
	.right-side {
		text-align: right;
	}
	.images-footer {
	    flex-basis: 20%;
	    text-align: center;
	}
}
.images-footer2 {
	display: none;
}
/***** MEDIA QUERIES *****/
@media only screen and (max-width: 1355px) {
	.filter-area .filter-area-vertical-scroller .vertical-scroll {
	    height: 5800px !important;
	}
	.col-md-2.scroll2-element3.blog-post {
		width: 50vw !important;
	}
}
@media only screen and (max-width: 1065px) {
    .hero-img1 {
        display: none;
    }
    .hero-img2 {
    	text-align: center;
    }
    .hero-img3 {
    	display: none;
    }
    .title-container {
    	flex-basis: 35% !important;
    }
    .col-md-2.scroll2-element3.blog-post {
		width: 55vw !important;
		margin-right: 0px;
	}
	.scrollable2-headwear {
		width: 165vw;
	}
}
@media only screen and (max-width: 940px) {
	.filter-header-area {
		margin: 50px 0px 20px 0px;
	}
	.filter-title {
		display: none;
	}
	.small-screen-filter-title {
		display: block !important;
		font-family: graphikmedium;
	    font-size: 25px;
	    color: #2A2A2A;
	    text-align: center;
	    margin: 30px 0px 10px 0px;
	}
}
@media only screen and (max-width: 840px) {
	.filter-title {
		display: none;
	}
	.small-screen-filter-title {
		display: block;
		font-family: graphikmedium;
	    font-size: 25px;
	    color: #2A2A2A;
	    text-align: center;
	    margin: 30px 0px 10px 0px;
	}
	.filter-header-area .filter-hat {
	    margin: 0px 0px 0px 0px;
	}
}
@media only screen and (max-width: 800px) {
	.images-footer {
		display: none;
	}
	.images-footer2 {
		background-color: #1A1A1A;
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		height: 100px;
		.headwear-footer-logo {
			width: 120px;
    		height: auto;
    		align-self: center;
		}
	}
	.headwear-footer {
		height: 100px;
		padding-top: 20px;
	}
	.social-area-footer {
		align-self: center;
	}
	.social-in-footer {
		margin: 0px 6px;
	}
	.days-footer {
		font-size: 8px !important;
	}
	.hours-footer {
		font-size: 8px !important;
	}
	.end {
		display: none;
	}
	.address-footer {
		font-size: 15px !important;
	}
}
@media only screen and (max-width: 657px) {
	.title-container {
    	flex-basis: 30%;
    	margin-left: 30px;
	}
	.hero-img1-area {
    	flex-basis: 0%;
    }
    .hero-img3-area {
    	flex-basis: 0%;
    }
    .filter-area .filter-preview {
    	display: none;
    }
    .filter-area .filter-area-vertical-scroller {
    	flex-basis: 100% !important;
    }
}
@media only screen and (max-width: 500px) {
	.hero-img2 {
	    text-align: center;
	    width: 100vw;
	    height: 350px;
	}
}
@media only screen and (max-width: 453px) {
	input.e-text {
		margin-bottom: 10px;
	}
}
@media only screen and (min-width: 2000px) {
	.scrollarea-headwear .blog-post {
		width: 27vw !important;
	}
}
@media only screen and (min-width: 1366px) {
    body {
        margin: auto !important;
        max-width: 1366px;
    }
}
