

/* TABLE OF CONTENTS
##1 Fonts 
##2 Header
##3 Swiper
	##Section 1
		##Section 1, col 1
		##Section 1, col 2
		##Section 1, col 3
##4 Section 2
	Headwear Ad
	Accesories Ad
	Water Bottle Ad
	Hat1 Ad
	Hat2 Ad
##5 Section 3
	##6 Sidebar
	##7 Explore Info
##8 Section 4
	##9 Scrollable 2
##16 Section 5
##21 Section 6
*/

body {
	overflow-x: hidden;
}

/* ##1 Fonts */

@font-face {
	font-family: graphikblack;
	src: url("/assets/fonts/Graphik-Black.otf");
}

@font-face {
	font-family: graphikmedium;
	src: url("/assets/fonts/Graphik-Medium.otf");
}
@font-face {
	font-family: graphikregular;
	src: url("/assets/fonts/Graphik-Regular.otf");
}
@font-face {
	font-family: brownhillscript;
	src: url("/assets/fonts/Brownhill Script.ttf");
}
@font-face {
	font-family: graphiksemibold;
	src: url("/assets/fonts/Graphik-Semibold.otf");
}
@font-face {
	font-family: nittiblack;
	src: url("/assets/fonts/nitti_black.ttf");
}
@font-face {
    font-family: graphikextralight;
    src: url("/assets/fonts/Graphik-Extralight.otf");
}
/* End Fonts */

/* ##2 Header */
.hero-image {
	background-image: url("/assets/images/videoreplace.jpg"); 
	height: 400px;
	width: 700px;
	background-position: center;
	background-size: cover;
	border-bottom: solid 1px black;
	position: relative;
}
div.col-1 {
	margin-left: 20px;
    display: inline;
    font-size: 22px;
    margin-top: 20px;
    color: black;
}
div.col-2 {
	display: inline;
}

div.col-3 {
	display: inline;
	font-size: 19px;
}

div.logo {
	width: 20%;
	margin-left: 10px;
	padding-top: 15px;
}

.logo img {
	width: 50%;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 18px;
    margin-left: 50px;
}
.logo span {
	color: black;
}
.shades {
    position: absolute;
    top: 100px;
    left: 800px;
    color: #5C2B0A;
    font-family: graphikmedium;
    font-size: 40px;
    text-align: center;
}
.header-description {
    position: absolute;
    top: 240px;
    left: 790px;
    text-align: center;
    color: #5C2B0A;
    font-family: graphikmedium;
}
button.header-button {
    position: absolute;
    top: 330px;
    left: 820px;
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
    padding: 10px 10px;
    font-family: graphikregular;
    color: #5C2B0A;
}
button.header-button:hover {
    transition: ease .2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
i.material-icons.header-wear-arrow {
    font-size: 12px;
    margin-left: 10px;
}
img.hero-image-two {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 425px;
    width: 200px;
    margin-top: 50px;
}

i {
	font-size: 24px;
}
i.materialicons {
    font-size: 14px;
    position: absolute;
    top: 496px;
    left: 702px;
    color: red;
}

.cart h1 {
	font-family: graphikblack;
	font-size: 13px;
	color: black;
	padding-right: 15px;
	float: right;
}
div.cart {
	width: 15%;
    float: right;
	position: absolute;
	top: 0;
	right: 0;
}
.summer-title {
    position: absolute;
    top: 65px;
    left: 320px;
    font-family: brownhillscript;
    color: white;
    font-size: 120px;
    line-height: 110px;
    transform: rotate(-8deg);
	animation: 3s ease-in-out;
}
.summer-title2 {
    position: absolute;
    font-family: brownhillscript;
    color: white;
    font-size: 120px;
    transform: rotate(-5deg);
    margin-left: 65px;
	animation: 3s ease-in-out;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity:0;  
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:2s;
}
.fade-in.one {
  animation-delay: 0.7s;
}
.nav-col2 img {
	height: 20px;
}
/*button*/
.button {
	width: 100%;
	float: right;
	padding-right: 5%;
	padding-bottom: 3%;
	right: 0;
	bottom: 0;
	position: absolute;
}

.button .btn-video {
	background-color: white;
	color: black;
	font-size: 13px;
	border-radius: 2px;
	border: none;
	padding: 10px;
	float: right;
	transition: 0.25s;
	opacity: 0.9;
	font-family: graphikmedium;
}
.glyphicon {
	margin-left: 5px;
}
.button {
    .btn-video:hover {
    	background-color:  #E4BFA4;
    	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}
.shopping-cart {
    position: absolute;
    top: 20px;
    right: 95px;
}

/* End Header */

/* ##3 Swiper */    /*
.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 10px !important;
}
.swiper-wrapper {
	-webkit-transition-timing-function:linear!important; 
	-o-transition-timing-function:linear!important; 
	transition-timing-function:linear!important; 
} 
.swiper-slide {
    text-align: center;
    font-size: 15px;
    font-family: graphikmedium;
    background: #fff;    
}
a {
	color: red !important;
	text-decoration: underline !important;
}*/

/* Section 1 */

div.section-one-row {
	margin-top: -30px;
	margin-left: 30px;
	width: 100vw;
	overflow-x: scroll;
}
.scrollable {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 192vw;
}
.element1-pic {
    width: auto;
    height: 262px;
    z-index: 0;
    position: absolute;
    border-bottom: solid black 1px;
}
.shop-women {
	height: 124px;
	margin-bottom: 20px;
	position: absolute;
	z-index: 0;
}
.shop-men {
	height: 120px;
	position: absolute;
	border-bottom: solid black 1px;
}
.section-one-video {
	height: 262px;
	border-bottom: solid black 1px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-4.scroller-element4 {
    margin-top: 0px;
}
.col-md-5.scroller-element1 {
	padding-right: 5px;
	width: 571.62px;
}
.col-md-5.scroller-element-2 {
    margin-left: 85px;
    width: 571px;
}
/* Section 1, col 1 */
.element1-text {
	z-index: 5;
    position: relative;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 120%);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 550.27px;
    height: 262px;
    padding-top: 150px;
    padding-left: 5px;
    color: white;
    font-family: graphikmedium;
    font-size: 10px;
    line-height: 1;
    transition: .2s;
}
.element1-text:hover {
	background-color: rgba(255,255,255,.2);
	transition: .2s ease;
}
.adventure-text {
	font-size: 39px;
	width: 40%;
	line-height: 1;
	padding-bottom: 10px;
}
.material-icons.element1-arrow {
    font-size: 10px;
    padding-left: 8px;
}
/* Section 1, col 2 */
.shop-women-text {
    background: linear-gradient(to bottom, transparent 0%, black 170%);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 3;
    font-family: graphikregular;
    padding-top: 65px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 16px;
    color: white;
    width: 277px;
    height: 124px;
}
.shop-women-text:hover {
	background-color: rgba(255,255,255,.2);
	transition: .2s ease;
}
.material-icons.shop-women-arrow {
    font-size: 12px;
    padding-left: 4px;
    color: white;
}
.shop-men-text {
    background: linear-gradient(to bottom, transparent 0%, black 170%);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 3;
    font-family: graphikregular;
    padding-top: 48px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    width: 276px;
    height: 120px;
}
.shop-men-text:hover {
	background-color: rgba(255,255,255,.2);
	transition: .2s ease;
}
.material-icons.shop-men-arrow {
    font-size: 12px;
    padding-left: 4px;
    color: white;
}
/* Section 1, col 3 */
.col-md-3 {
	width: 305px !important;
}
.element4 {
	height: 262px;
	position: absolute;
}
.col-md-4.scroller-element4 {
	width: 335px;
}
.material-icons.element4-arrow {
	position: relative;
	font-size: 50px;
	padding-left: 140px;
	padding-top: 110px;
	color: white;
}
.material-icons.element4-arrow:hover {
	transform: scale(1.05);
	transition: .2s ease-in-out;
}
/* End Swiper */

/* ##4 Section 2 */
.mostwanted {
    font-family: graphiksemibold;
    font-size: 31px;
    color: #202020;
    padding: 20px 0px 40px 15px;
    display: block;
}
.section2-row {
    padding-left: 15px;
}
.vertical-scroller-area {
	width: 43vw;
	margin-left: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
    position: absolute;
    height: 665px;
}
.vertical-scroller {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1500px;
}

/* Header Ad */

.col-md-3.mostwanted-ad1 {
    padding-left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 265.67px !important;
    border-bottom: solid black 2px;
    position: absolute;
}
.mostwanted-ad1-picture {
	height: 354.24px;
}
.mostwanted-ad1-picture:hover {
    filter: blur(2px);
    transition: ease .1s;
}
.headwear {
    font-family: nittiblack;
    color: #ADADAD;
    text-transform: uppercase;
    padding-top: 15px;
    padding-left: 20px;
}
.headwear-caption-holder {
	padding-bottom: 15px;
}
.headwear-caption {
    font-family: graphiksemibold;
    display: inline;
    padding-left: 20px;
}
.headwear-price {
    display: inline;
    padding-left: 9px;
    font-size: 12px;
    font-family: graphikmedium;
    color: #BEBEBE;
}
.material-icons.headwear-add {
	font-size: 14px;
	padding-left: 10px;
}
.material-icons.headwear-add:hover {
	transform: scale(1.5);
	transition: .2s ease;
}
.material-icons.headwear-arrow {
    font-size: 14px;
    padding-left: 4px;
}
.material-icons.headwear-arrow:hover {
	transform: scale(1.5);
	transition: .2s ease;
}

/* Accesories Ad */
.col-md-3.mostwanted-ad2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: solid black 2px;
    width: 263.11px !important;
    padding-left: 0px;
    margin-left: 20px;
    position: absolute;
    left: 285px;
}
.accessoriesimg {
    height: 354.4px;
}
.accessoriesimg:hover {
    filter: blur(2px);
    transition: ease .1s;
}
.hat1ad:hover{
    filter: blur(2px);
    transition: ease .1s;
}
.hat2ad:hover{
    filter: blur(2px);
    transition: ease .1s;
}
.material-icons.accessories-add {
	font-size: 14px;
	padding-left: 40px;
}
.material-icons.accessories-add:hover {
	transform: scale(1.3);
	transition: .2s ease;
}
.col-md-3.socks-ad {
    position: absolute;
    margin-top: 20px;
    position: absolute;
    top: 900px;
    left: -15px;
    border-bottom: solid black 2px;
    width: 265px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    padding: 0px;
}
.col-md-3.sweatshirt-ad {
    position: absolute;
    margin-top: 20px;
    position: absolute;
    top: 900px;
    left: 290px;
    border-bottom: solid black 2px;
    width: 265px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    padding: 0px;
}
.email-attention {
    font-family: graphikmedium;
    font-size: 30px;
    color: #202020;
    position: absolute;
    top: 1400px;
    left: 150px;
}
.stay-updated {
    font-family: graphikmedium;
    font-size: 10px;
    color: gray;
    position: absolute;
    top: 1450px;
    left: 170px;
}
.email-address {
    font-family: graphikmedium;
    font-size: 10px;
    color: gray;
    position: absolute;
    top: 1500px;
    left: 120px;
    padding: 20px 140px 20px 20px;
    border: solid gray 1px;
    border-radius: 3px;
}
button.email {
    position: absolute;
    top: 1500px;
    left: 370px;
    background-color: #202020;
    padding: 17px 15px;
    font-family: graphikregular;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
}
.email:hover {
	transition: ease .2s;
	transform: scale(1.1);
}

/* Water Bottle Ad */

.gallery {
	margin-left: 150px;
}
.gallery-image {
	height: 100px;
	opacity: .2;
	padding: 10px 20px;
}
.gallery-image-highlight {
	border-bottom: solid black;
	background-color: #E7E7E7;
	height: 100px;
	padding: 10px 20px;
	opacity: 1;
}
.main-gallery-image {
    height: 355.82px;
}
.largeAd-title {
    font-family: graphikmedium;
    font-size: 40px;
    color: black;
    text-align: center;
    padding-bottom: 15px;
}
.largeAd-text {
    font-family: graphikmedium;
    font-size: 10px;
    color: #3D3D3D;
    text-align: center;
    padding-bottom: 40px;
}
.col-md-6.water-ad {
	margin-left: 45px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    border-top: solid black 6px;
    position: absolute;
    right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.largeAd-bottom-container {
	background-color: #E7E7E7;
	padding: 20px;
}
button.black {
    border-radius: 25px;
    padding: 15px;
    background-color: #181818;
}
button.black:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
	transition: .2s ease;
}
button.red {
    border-radius: 25px;
    padding: 15px;
    background-color: red;
    margin: 15px;
}
button.red:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
	transition: .2s ease;
}
button.blue {
    border-radius: 25px;
    padding: 15px;
    background-color: #1A2C4F;
    margin-right: 30px;
}
button.blue:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
	transition: .2s ease;
}
button.drinkwear {
    background-color: #E7E7E7;
    border: solid #3B3B3B 2px;
    padding: 20px 15px;
    font-family: graphiksemibold;
    font-size: 14px;
    border-radius: 2.5px;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
}
button.drinkwear:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.01);
	transition: .2s ease;
}
.material-icons.drinkwear-arrow {
	font-size: 13px;
	padding-left: 10px;
	color: black;
}
button.cart {
    background-color: #E7E7E7;
    border: solid #3B3B3B 2px;
    padding: 20px 30px;
    margin-left: 15px;
    font-family: graphiksemibold;
    font-size: 14px;
    border-radius: 2.5px;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
}
button.cart:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.01);
	transition: .2s ease;
}
.material-icons.cart-add {
    font-size: 13px;
    color: black;
    padding-left: 10px;
}

/* Hat1 Ad */
.col-md-3.hat1-ad {
	position: absolute;
	top: 460px;
    left: -15px;
    border-bottom: solid black 2px;
    width: 280px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

/* Hat2 Ad */ 

.col-md-3.hat2-ad {
    position: absolute;
    margin-top: 20px;
    position: absolute;
    top: 440px;
    left: 289px;
    border-bottom: solid black 2px;
    width: 265px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    padding: 0px;
}

/* ##5 Section 3 */

.explore {
    position: absolute;
    top: 1550px;
    left: 15px;
    font-size: 30px;
    font-family: graphikmedium;
    color: #202020;
}
.explore-nav1 {
	padding-left: 20px; 
    margin: 0 0 10px;
    display: inline;
    color: #ADADAD;
    font-size: 12px;
    margin: 20px;
}
.explore-nav2 {
    margin: 0 0 10px;
    display: inline;
    color: #ADADAD;
    font-size: 12px;
    margin: 20px;
}
.explore-image {
    position: absolute;
    top: 1630px;
    height: 602.92px;
    left: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.explore-background {
    position: absolute;
    top: 1610px;
    left: 15px;
    height: 640px;
    width: 100%;
    opacity: .1;
}

/* ##6 Sidebar */
.sidebar {
    color: #ADADAD;
    font-family: nittiblack;
    font-size: 12px;
    transform: rotate(270deg);
    border-top: solid #202020 3px;
    position: absolute;
    top: 1950px;
    background-color: white;
    left: -98px;
    padding: 10px 30px;
}
.sidebar-title {
    color: #202020;
    font-family: graphikmedium;
    font-size: 18px;
}
.year {
    color: #ADADAD;
    display: inline;
    font-size: 15px;
    margin-left: 10px;
}

/* ##7 Explore Info */ 

.explore-title {
	position: absolute;
	top: 1700px;
	left: 1000px;
	font-family: brownhillscript;
	color: black;
	font-size: 120px;
	line-height: 110px;
    transform: rotate(-8deg);
}
.explore-title2 {
    position: absolute;
    font-family: brownhillscript;
    color: black;
    font-size: 120px;
    transform: rotate(-5deg);
    margin-left: 65px;
}
.explore-info {
    color: #202020;
    font-size: 12px;
    font-family: graphikmedium;
    position: absolute;
    top: 2000px;
    left: 950px;
    margin: 0px 40px;
    text-align: center;
}
button.lookbook {
	position: absolute;
	top: 2150px;
	left: 1080px;
    background-color: #202020;
    padding: 20px 15px;
    font-family: graphikregular;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
}
button.lookbook:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.01);
	transition: .2s ease;
}
.material-icons.lookbook-arrow {
	font-size: 13px;
	padding-left: 10px;
	color: white;
}

/* ##8 Section 4 */
.meetathletes {
	position: absolute;
    top: 2280px;
    left: 20px;
    font-size: 30px;
    font-family: graphikmedium;
    color: #202020;
}

/* ##9 Scrollable 2 */
.scrollarea {
	width: 100vw;
	margin-left: 5px;
	overflow-x: scroll;
	overflow-y: hidden;
    top: 2350px;
    position: absolute;
}
.scrollable2 {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 199vw;
    height: 290px;
}

.scroll2-image1 {
    position: absolute;
    width: 500px;
    z-index: 0;
}
.scroll2-background {
    position: relative;
    z-index: 1;	
    height: 285px;
    width: 420px;
    background: linear-gradient(to bottom, transparent 0%, black 170%);
}
.scroll2-name {
    z-index: 2;
    position: absolute;
    left: 30px;
    top: 190px;
    font-size: 30px;
    line-height: 30px;
    font-family: graphikmedium;
    color: white;
}
button.pro1 {
    z-index: 3;
    position: absolute;
    left: 15px;
    top: 255px;
    background: none;
    border: none;
    color: white;
    font-family: nittiblack;
    text-transform: uppercase;
    width: 150px;
    font-size: 10px;
}
button.pro1:hover {
	transform: scale(1.05);
	transition: .2s ease;
}
.scroll2-image {
    width: 420px;
    z-index: 0;
    position: absolute;
    border-top: solid #1A9AED 5px;
}
.scroll2-snow {
    display: inline;
    position: absolute;
    top: 255px;
    left: 390px;
    font-family: nittiblack;
    font-size: 10px;
    color: white;
    z-index: 3;
}
/* End Scrollable 2 */

/* ##16 Section 5 */

.social {
    position: absolute;
    top: 2670px;
    left: 15px;
    font-family: graphikmedium;
    font-size: 30px;
    color: #202020;
}
.social-nav1 {
	padding-left: 20px; 
    margin: 0 0 10px;
    display: inline;
    color: #ADADAD;
    font-size: 12px;
    margin: 20px;
}
.social-nav2 {
    margin: 0 0 10px;
    display: inline;
    color: #ADADAD;
    font-size: 12px;
    margin: 20px;
}
.social-nav3 {
    margin: 0 0 10px;
    display: inline;
    color: #ADADAD;
    font-size: 12px;
    margin: 20px;
}

/* ##21 Section 6 */
.footer {
    position: absolute;
    top: 3200px;
    width: 100vw;
    height: 200px;
    background-color: #1A1A1A;
    margin-top: 120px;
}
.col-md-4 {
    margin-top: 30px;
}
.phone-number {
    color: white;
    top: 20px;
    position: absolute;
    font-family: graphikregular;
    font-size: 12px;
}
.phone-number.two {
	right: 20px;
}
.address {
    position: relative;
    font-size: 25px;
    color: white;
    font-family: graphikmedium;
    margin-top: 40px;
}
.address2 {
    position: relative;
    font-size: 25px;
    color: white;
    font-family: graphikmedium;
    margin-top: 40px;
    text-align: right;
}
.footer-logo {
    height: 50px;
    margin-left: 150px;
    margin-top: 25px;
    margin-bottom: 5px;
}
.instagram {
	margin-left: 148px;
	margin-right: 9px;
}
.instagram:hover {
	transform: scale(1.3);
	transition: .2s ease;
}
.facebook, .twitter, .vimeo {
	margin: 0px 9px;
}
.facebook:hover {
	transform: scale(1.3);
	transition: .2s ease;
}
.twitter:hover {
	transform: scale(1.3);
	transition: .2s ease;
}
.vimeo:hover {
	transform: scale(1.3);
	transition: .2s ease;
}
.days-of-week {
    position: absolute;
    font-family: nittiblack;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    left: 300px;
    top: 45px;
    line-height: 20px;
}
.days-of-week-two {
    position: absolute;
    font-family: nittiblack;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    top: 45px;
    line-height: 20px;
    left: 40px;
    text-align: right;
}
/* End Section 6 // End Page */

.posts-container {
    position: absolute;
    top: 2741px;
}
.social-profile {
    border-radius: 100px;
    height: 30px;
    margin-left: 10px;
}
.social-profile:hover {
	transform: scale(1.1);
	transition: .2s ease;
}
.social-name {
    display: inline;
    font-family: graphikmedium;
    margin-left: 5px;
    color: #404040;
}
.social-posted {
    display: inline;
    margin-left: 5px;
    color: #ADADAD;
}
.social-date {
    font-family: nittiblack;
    font-size: 12px;
    color: #ADADAD;
    margin-left: 70px;
    margin-top: -8px;
}
.social-picture {
    height: 400px;
    border-radius: 2.5px;
    margin-top: 10px;
}
.social-picture:hover {
	transform: scale(1.05);
	transition: .2s ease;
}
.col-sm-4.socialpost {
    width: 340px;
}